**/config.h
**/.pio/
**/.vscode/
**/node_modules/

.pioenvs/


**/*.bin
**/*.elf
*.hex
*.map

src/config.h

target/

.env
*.env
.env.local
.env.production

*.class
*.jar

**/.DS_Store
Thumbs.db
desktop.ini

*.log