**/config.h
**/.pio/
**/.vscode/
**/node_modules/

.pioenvs/


**/*.bin
**/*.elf
*.hex
*.map

src/config.h

target/

.env
.env.local
.env.production
.env.development
!.env.example

*.class
*.jar

**/dist/
**/.idea/

**/.DS_Store
Thumbs.db
desktop.ini

*.log